.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  border: 2px solid #5d487b;
  padding: 2rem;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  .app-container {
    padding: 0.5rem;
  }
}

.app-title {
  text-align: left;
}

.app-logout {
  display: flex;
  gap: 10px;
  justify-content: end;
}

.app-logout button {
  background: none;
  border: none;
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
  font: inherit;
  padding: 0;
}

.app-logout button:hover {
  color: #0056b3;
}
